
@{
    ViewBag.Title = "UserDashboard";
}

<h2>UserDashboard</h2>

<ul class="d-flex p-2">
    <li><a href="/User/UserDetails">User Details</a></li>
    <li><a href="/Post/PostDetails">Post Details</a></li>

</ul>

