@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Yummy</h1>
        <p class="lead">Yummy us a free platform to share your own Recipes</p>
        
    </section>
</main>